exercise 1: create a jupyter notebook with title datascienceecosystem

exercise 2: crteate a markdown cell with title data science tools and ecosystem using H1 style heading

# Data Science Tools and Ecosystem

In [ ]:
exercise 3: create markdown cell for an introduction

### in this notebook data science tools and ecosystem are summerized

**objectives**
- working with files in jupyter notebook
- getting started with github
- uploading files to github

In [ ]:
exercise 4:create a markdown cell to list data science languages

Some popular languages data scientist use are; python, R, scala, Java, C++, julia, SQL, 
1. python
2. R
3. SQL
4. Julia
5. Java

In [ ]:
exercise 5: create a markdown cell to list data science libraries

some commonly used libraries used by data scientist include:
1. Numpy
2. pandas
3. matplotlib

In [ ]:
exercise 6: create a markdown cell with a table of data science tools

|Data Science Tools|
|------------------|
|Jupyter notebook|
|Github|
|virtual studio code|

In [ ]:
exercise 7:create a markdown cell introducing arithmetic expression examples

### below are a few examples of evaluating arithmetic expressions in python

In [ ]:
exercise 8: create a code cell to multiply and add numbers

In [2]:
(3*4)+5
# this is an arithmetic expression to multiply and add intergers

17

In [ ]:
exercise 9: create a code cell to convert minutes to hours

In [2]:
time_in_minutes=int(input("time in minutes"))
time_in_hours=time_in_minutes/60
print(time_in_hours)
#this is a code to convert min to hours by dividing input by 60

time in minutes 200

3.3333333333333335

In [ ]:
exercise 10: insert a markdown cell to list objectives
#check the cell below exercise 3

In [ ]:
exercise 11:create a markdown cell to indicate the author's name

## Author
Olamide Awopegba